.card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    max-width: 328px;
    height: 546px;
    position: relative;
}

.card__image-container {
    position: relative;
  display: inline-block;
  height: 241px;

}

.card__image {
    height: 230px;
  width: 328px;
  display: block;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
  transform: scale(1.1);
}



.card__image-overlay {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card__image-overlay:hover {
    opacity: 1;
}

.card__footer{
    height: 290px;
    display: flex;
    flex-direction: column;

    align-items: start;
   width: 328px;
    margin: 0;  
    color: #ab773c;

   
}

.card__title {
    margin: 25px 0 10px;
    max-width: 245px;
    font-size: 20px;
    margin-left: 20px;
   text-align: start;
   flex-grow: 1;
   line-height: 1.2;

}

.card__description {
    margin: 0 20px 0 20px;
    white-space: wrap;
    font-size: 16px;
    line-height: 1.21;
  width: 280px;
  max-height: 155px;
   text-align: start;
   display: -webkit-box; 
   -webkit-box-orient: vertical; 
   -webkit-line-clamp: 7; 
   overflow: hidden; 
   text-overflow: ellipsis; 
  
}

.card__source{
    opacity: 50%;
    margin: 10px 0 10px 20px;
    font-size: 16px;
    /* position: absolute;
    left: 20px;
    bottom: 5px; */
}

@media screen and (max-width: 580px) {
   .card {
    max-width: 320px;
   }
   .card__footer {
    width: 320px;
   }

   .card__image{
    width: 320px;
   }

   .card__description{
    width: 274px;
   }
}