.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .popup__close-button {
    background-image: url(../../images/Close-Icon-A.svg);
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -24px;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    background-color: transparent;
    z-index: 1000;
    
 }

 .popup__close-button:hover {
    background-image: url(../../images/Close-Icon-NA.svg);
 }

 .popup__close-button_image {
    top: 20px;
    right: 20px;
    background-color: #ab773c;
    border-radius: 8px;
    background-size: auto;
    
 }

 .popup__close-button_image:hover {
    background-image: url(../../images/Close-Icon-NA.svg);
    background-color: #eecfc6;
 }
 
  

 @media screen and (max-width: 580px) {
.popup__close-button{
    right: 0px;
}

.popup__close-button_image{
    right: 20px
}



 }