
.header {
   
    background-image: url('../../images/spoons.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header__header {
    color: #eecfc6;
    font-family: 'DMSans-Bold';
    font-size: 50px;
    margin: 120px 0 0 0; 
}

.header__overlay {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 580px) {

    .header{
        max-height: 500px;
    }

    .header__header{
        margin: 90px 0 0;
        font-size: 30px;
    }

    
}