.footer {
    display: flex;
    color: #ab773c;
   
align-items: center;
justify-content: space-between;
margin-top: auto;

    
}

.footer__copyright {
    margin: 40px 0 40px 40px;
}

.footer__home {
    margin: 40px 40px 40px 0;
    text-decoration: none;
    color: #ab773c;

}

.footer__home:hover{
    opacity: 60%;
}

@media screen and (max-width: 580px) {


    .footer {
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto 20px 10px;
      
    }

    .footer__home{
        margin: 40px 0 30px;
    }

    .footer__copyright{
        margin: 0 0 20px;

    }

}